In [12]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("/Users/ayush.LAPTOP-A9620OED/Downloads/developer_survey_2019/survey_results_public.csv")

In [ ]:
df2 =

In [9]:
df1 = [df['Country']=='Nepal']

In [10]:
df2 = [df['Country']=='Estonia']

In [30]:
df = pd.DataFrame(np.random.randint(0,100,size=(5, 4)), columns=list('ABCE'))

In [31]:
df

    A   B   C   E
0  42  91  13  24
1  70  87  53  42
2  96  71  76  21
3  84  28  11  35
4  88  49  77  20

In [32]:
df2 = pd.DataFrame(np.random.randint(200,300,size=(5, 4)), columns=list('ABCF'))

In [33]:
df2

     A    B    C    F
0  267  270  258  249
1  294  252  235  263
2  249  238  256  277
3  273  263  261  249
4  297  250  253  255

In [36]:
pd.concat([df, df2]).fillna(0)

     A    B    C     E      F
0   42   91   13  24.0    0.0
1   70   87   53  42.0    0.0
2   96   71   76  21.0    0.0
3   84   28   11  35.0    0.0
4   88   49   77  20.0    0.0
0  267  270  258   0.0  249.0
1  294  252  235   0.0  263.0
2  249  238  256   0.0  277.0
3  273  263  261   0.0  249.0
4  297  250  253   0.0  255.0